bcrypt==4.1.2
cffi==1.16.0
colorama==0.4.6
cryptography==42.0.3
depthai==2.24.0.0
iniconfig==2.0.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
paramiko==3.4.0
Pint==0.23
pluggy==1.4.0
pycparser==2.21
pyfrc==2024.0.1
PyNaCl==1.5.0
pynetconsole==2.0.4
pyntcore==2024.2.1.2
pytest==8.0.1
pytest-reraise==2.1.2
robotpy==2024.2.1.2
robotpy-cli==2024.0.0
robotpy-hal==2024.2.1.2
robotpy-halsim-gui==2024.2.1.2
robotpy-installer==2024.2.1
robotpy-wpilib-utilities==2024.0.0
robotpy-wpimath==2024.2.1.2
robotpy-wpinet==2024.2.1.2
robotpy-wpiutil==2024.2.1.2
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
wpilib==2024.2.1.2
